.login-page {
  width: 430px;
  Height:500px;
  margin: 60px auto;
  padding: 30px;
  background: #2c2f35;
  color: white;
  border-radius: 12px;
  text-align: center;
}

/* Toggle */
.login-toggle {
  display: flex;
  margin: 20px 0;
  border-radius: 8px;
  overflow: hidden;
}

.login-toggle button {
  flex: 1;
  padding: 12px;
  border: none;
  background: #222;
  color: white;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.login-toggle button.active {
  background: linear-gradient(to right, #ff4d6d, darkviolet);
}

/* Input group */
.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(to right, #ff4d6d, darkviolet);
  color: white;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}

.eye-icon:hover {
  color: rgb(17, 16, 16);
}

.forgot-password {
  text-align: right;
  font-size: 14px;
  margin-bottom: 15px;
  cursor: pointer;
  color: #f67676;
}

.forgot-password:hover {
  color: #ff4d6d;
  text-decoration: underline;
}


.register-text {
  margin-top: 18px;
  font-size: 14px;
  color: #bbb;
  text-align: center;
}

.register-link {
  color: #ff4d6d;
  font-weight: 600;
  cursor: pointer;
}

.register-link:hover {
  text-decoration: underline;
}
